/* You can add global styles to this file, and also import other style files */

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.form-signin .checkbox {
    font-weight: 400;
}

.pointer {
    cursor: pointer;
    text-decoration: none;
}